/* PAGE */
.menu-wrapper {
  width: 100%;
  min-height: 100vh;
  background: #fafafa;
  padding-bottom: 40px;
}

/* BANNER SECTION */
.menu-banner {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
  border-radius: 0 0 18px 18px;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(75%);
}

.banner-info {
  position: absolute;
  bottom: 20px;
  left: 40px;
  color: white;
}

.banner-info h2 {
  font-size: 30px;
  font-weight: bold;
}

.rating,
.delivery {
  font-size: 16px;
  margin-top: 3px;
}

/* SEARCH DISH INPUT */
.dish-search {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.dish-search-input {
  width: 60%;
  max-width: 600px;
  padding: 12px;
  border-radius: 30px;
}

/* DISH GRID */
.dish-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 per row */
  gap: 25px;
  padding: 0 40px;
}

.dish-card {
  border-radius: 15px;
  overflow: hidden;
}

.dish-img {
  height: 180px;
  object-fit: cover;
}

.dish-desc {
  font-size: 14px;
  color: #555;
}

.dish-price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
}

.add-btn {
  background: #ff3c3c !important;
  border: none;
  font-weight: bold;
}
